[Unit]
Description=PulseAudio Sound Server in system-wide mode
Before=sound.target

[Service]
Type=forking
Restart=always
PIDFile=/var/run/pulse/pid
ExecStart=/usr/bin/pulseaudio --system --disallow-exit=1 --disable-shm=1 --fail=1 --daemonize

[Install]
WantedBy=multi-user.target
